### Import Packages

In [1]:
from selenium import webdriver
import pandas as pd
import time

### Set Up

In [2]:
driver = webdriver.Chrome(executable_path='C:/webdrivers/chromedriver.exe')
driver.get('https://www.amazon.com/s?k=laptop&i=computers&rh=n%3A565108%2Cp_n_feature_six_browse-bin%3A23534088011%2Cp_n_graphics_type_browse-bin%3A14292273011%2Cp_n_feature_twelve_browse-bin%3A9521908011&s=relevancerank&dc&qid=1629721204&rnid=9521907011&ref=sr_pg_1')
driver.maximize_window()
time.sleep(1)

### Target The Data We Want To Scrape

In [35]:
# names
names = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a/span')

# prices
prices = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

# stars
stars = driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span')

# rating count
rating = driver.find_elements_by_xpath('//span[@class="a-size-base"]')

# ships to Romania
shipping = driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-secondary s-align-children-center"]/span')

In [38]:
#for ss in shipping:
#       print(ss.text)

### Loop and Append to List

In [39]:
names_list = []
prices_list = []
stars_list = []
rating_count_list = []
shipping_list = []

In [41]:
for n in names:
    names_list.append(n.text)

for p in prices:
    prices_list.append(p.text)

for s in stars:
    stars_list.stars_append(s.get_attribute('aria-label'))

for r in rating:
    rating_count_list.append(r.text)
    
for ss in shipping:
    shipping_list.append(ss.text)

In [49]:
# at postion 22 from prices_list we have to insert 0

In [61]:
prices_list.insert(22,0)

In [62]:
len(prices_list)

28

In [57]:
# remove the 2nd element from stars list and at the position 11 insert 0

In [81]:
str_lst = stars_list[0:55:2]

In [84]:
str_lst.insert(11,0)

In [85]:
# remove the last elements from rating count and at the position 11 insert 0

In [89]:
rt_lst = rating_count_list[0:27]

In [90]:
rt_lst.insert(11,0)

In [60]:
# at postion 22 from shipping we have to insert 0

In [91]:
shipping_list.insert(22,0)

### Dictionary

In [92]:
gaming_laptops = {'Name':names_list, 'Price':prices_list, 'Stars':str_lst, 'Rating_Count':rt_lst,
                  'Shipping':shipping_list}

### Dictionary to Pandas Dataframe

In [93]:
df = pd.DataFrame.from_dict(gaming_laptops)

In [94]:
df.head()

,Name,Price,Stars,Rating_Count,Shipping
0,"MSI Stealth 15M Gaming Laptop: 15.6"" 144Hz FHD...","1,399",4.3 out of 5 stars,51,Ships to Romania
1,"MSI GL66 Gaming Laptop: 15.6"" 144Hz FHD 1080p ...","1,499",4.1 out of 5 stars,52,Ships to Romania
2,Acer Nitro 5 AN515-55-53E5 Gaming Laptop | Int...,839,4.7 out of 5 stars,"3,882",Ships to Romania
3,"Lenovo Legion 5 15 Gaming Laptop, 15.6"" FHD (1...","1,049",4.4 out of 5 stars,92,Ships to Romania
4,Razer Blade 15 Base Gaming Laptop 2020: Intel ...,"1,152",4.5 out of 5 stars,"1,511",Ships to Romania

### Clean the Data

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          28 non-null     object
 1   Price         28 non-null     object
 2   Stars         28 non-null     object
 3   Rating_Count  28 non-null     object
 4   Shipping      28 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [103]:
df3 = df.copy()

In [118]:
df3['Stars'] = df3.Stars.str.strip('out of 5 stars')

In [120]:
df3.head()

,Name,Price,Stars,Rating_Count,Shipping
0,"MSI Stealth 15M Gaming Laptop: 15.6"" 144Hz FHD...",1399,4.3,51,Ships to Romania
1,"MSI GL66 Gaming Laptop: 15.6"" 144Hz FHD 1080p ...",1499,4.1,52,Ships to Romania
2,Acer Nitro 5 AN515-55-53E5 Gaming Laptop | Int...,839,4.7,"3,882",Ships to Romania
3,"Lenovo Legion 5 15 Gaming Laptop, 15.6"" FHD (1...",1049,4.4,92,Ships to Romania
4,Razer Blade 15 Base Gaming Laptop 2020: Intel ...,1152,4.,"1,511",Ships to Romania

### Save Data in Excel

In [121]:
df3.to_excel('amazon_latops.xlsx',index=False)